<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LullabyRecipe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>58DE617E2839C13900F25769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DE618E2839C13B00F25769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DE61982839C13B00F25769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
